{% extends 'books/base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p><strong>Автор:</strong> {{ object.author }}</p>
    <p><strong>Дата публикации:</strong> {{ object.published_date }}</p>
    <p><strong>ISBN:</strong> {{ object.isbn_number }}</p>
    <p><strong>Язык:</strong> {{ object.language }}</p>
    <p><strong>Количество страниц:</strong> {{ object.pages }}</p>
    <p><strong>Описание:</strong> {{ object.description }}</p>

    <a href="{% url 'book_edit' object.pk %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'book_delete' object.pk %}" class="btn btn-danger">Удалить</a>

    <!-- Ссылки на список книг и главную страницу -->
    <a href="{% url 'book_list' %}" class="btn btn-primary mt-3">Вернуться к списку книг</a>
    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Главная страница</a>
{% endblock %}
